body{
   font-family:'manrope'
}
.conteiner {
width: 1150px;
margin: 0 auto;
box-sizing: border-box;
}


h1{
   font-size: 60px;
   line-height: 60px;
   font-weight: 400; 
   color:#121212;
   margin-top:128px;

   margin-bottom: 30px;

}

h2{
   font-size: 42px;
   line-height: 65px;
   font-weight: 400;
   color: #121212;
   width: 1070px;
   margin-bottom: 30px;
   
}

h3{
   
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
  margin-bottom: 30px;
 
   
}

.D1 {
width: 1150px;
height: 500px;
margin-bottom:150px;
background-image: url('D1.png');

}

.D1-text{
text-align: left;
width: 430px;
height: 81px;
padding-top: 379px;
padding-left: 40px;
padding-right: 680px;
padding-bottom: 40px;
}

.D1-text p {

   color: rgba(255, 255, 255, 0.607);
   
   font-size: 19px;
   line-height: 27px;
   font-weight: 400;
}
.btn{
   font-size: 20px;
   font-weight: 400;
   display: block;
   width: 255px;
   height: 67px;
   border-radius: 5px;
   text-align: center;
   line-height: 67px;
   text-decoration: none;
   color:white;
   background-color: rgba(173, 24, 24, 1); 
   margin-bottom: 150px;
   cursor: pointer;
}

