body {
  font-family: "Manrope", sans-serif;
}
.conteiner_armchair {
  width: 1150px;
  margin: 0 auto;
  box-sizing: border-box;
}

h1 {
  font-size: 60px;
  line-height: 60px;
  font-weight: 400;
  color: #121212;
  margin-top: 128px;

  margin-bottom: 30px;
}

h2 {
  font-size: 42px;
  line-height: 65px;
  font-weight: 400;
  color: #121212;
  width: 1070px;
  margin-bottom: 30px;
  letter-spacing: -3%;
}

h3 {
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
  margin-bottom: 30px;
  letter-spacing: -0.03em;
  text-transform: uppercase;
}

.armchair {
  position: relative;
  width: 1150px;
  height: 500px;
  margin-bottom: 150px;
  background-image: url("../resources/D1.png");
}

.armchair_text {
  position: absolute;
  text-align: left;
  width: 430px;
  height: 81px;
  padding-top: 379px;
  padding-left: 40px;
  padding-right: 680px;
  padding-bottom: 40px;
}

.armchair_text p {
  color: rgba(255, 255, 255, 0.607);

  font-size: 19px;
  line-height: 27px;
  font-weight: 400;
}
.btn {
  font-size: 20px;
  font-weight: 400;
  display: block;
  width: 255px;
  height: 67px;
  border: 1px solid red;
  text-align: center;
  line-height: 67px;
  text-decoration: none;
  color: white;
  background-color: rgba(173, 24, 24, 1);
  margin-bottom: 150px;
  cursor: pointer;
}
.projekt {
  width: 1150px;
  margin: 0 auto;
  box-sizing: border-box;
}
.right__imag {
  display: block;
  width: 1150px;
  height: 450px;
}
.right {
  margin-top: 20px;
  margin-bottom: 90px;
  width: 1150px;
  height: 548px;
  background-color: #fff;
}
.right__title {
  width: 501px;
  height: 41px;
  line-height: 41px;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-right: 774px;
  font-size: 30px;
  letter-spacing: -0.03em;
}

.look-btn {
  width: 127px;
  height: 27px;
  font-size: 20px;
  text-decoration: none;
  color: red;
}
.allprojekts {
  display: block;
  width: 100%;
  height: 153px;
  margin-bottom: 150px;
  border: 1px solid red;
  text-align: center;
  line-height: 153px;
  font-size: 31px;
  color: red;
  border-radius: 5px;
  text-decoration: none;
}
.allrojekts:hover {
  color: white;
  background-color: red;
}
.section_blac {
  background-color: #121212;
  width: 1400px;
  height: 1848px;
  margin: 0 auto;
  box-sizing: border-box;
}
.conteiner_service {
  color: #fff;
  width: 66px;
  height: 25px;
  padding-top: 151px;
  padding-left: 127px;
  padding-bottom: 34px;
}
.type_service {
  box-sizing: border-box;
  width: 1150px;
  height: 326px;
  margin-left: 125px;
  margin-right: 125px;
  margin-bottom: 60px;
}
.type_service_last {
  box-sizing: border-box;
  width: 1150px;
  height: 326px;
  margin-left: 125px;
  margin-right: 125px;
  margin-bottom: 150px;
}

.service__imag {
  width: 1150px;
  height: 270px;
}
.service__text {
  height: 41px;
  margin-top: 15px;
  font-weight: 400;
  font-size: 30px;
  line-height: 40px;
  letter-spacing: 0, 03em;
  color: rgba(255, 255, 255, 1);
}
