html {
  scroll-behavior: smooth;
}
body {
  font-family: "Manrope", sans-serif;
}

.conteiner_navi {
  margin: 0 auto;

  box-sizing: border-box;
  width: 1152px;
  height: 26px;
  margin-top: 33px;
  margin-bottom: 70px;
}
.logo-link {
  display: inline-block;
  margin-right: 558px;
}
.logo {
  display: block;
  width: 127px;
  height: 21px;
}
.navi {
  display: inline-block;
  vertical-align: top;
}
.navi_link {
  display: inline-block;

  margin-right: 52px;
  text-decoration: none;
  font-size: 18px;
  color: rgba(18, 18, 18, 1);

  text-align: center;
  line-height: 24px;
  font-weight: 400;
  letter-spacing: -0, 03em;
  text-transform: uppercase;
}

.navi_link:hover {
  border-bottom: 2px solid #121212;
  padding-bottom: 1px;
  opacity: 0.5;
}
.navi_link_last {
  text-decoration: none;
  font-size: 18px;
  color: rgba(18, 18, 18, 1);
  text-align: center;
  line-height: 2px;
  font-weight: 400;
  letter-spacing: -3%;
  text-transform: uppercase;
}
.navi_link_last:hover {
  border-bottom: 2px solid #121212;
  padding-bottom: 2px;
  opacity: 0.5;
}
.conteiner_armchair {
  width: 1150px;
  margin: 0 auto;
  box-sizing: border-box;
}

h1 {
  font-style: normal;
  font-weight: 400;
  font-size: 60px;
  line-height: 60px;
  letter-spacing: -0.03em;
  color: #121212;

  margin-right: 180px;
  margin-bottom: 30px;
}

h2 {
  font-weight: 400;
  font-size: 45px;
  line-height: 60px;
  letter-spacing: -0.03em;

  color: #121212;
  width: 1070px;
  margin-bottom: 30px;
  letter-spacing: -3%;
}

h3 {
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
  margin-bottom: 36px;
  letter-spacing: -0.03em;
  text-transform: uppercase;
}

.armchair {
  position: relative;
  width: 1150px;
  height: 500px;
  margin-bottom: 150px;
  background-image: url("../resources/D1.png");
}

.armchair_text {
  position: absolute;
  text-align: left;
  width: 430px;
  bottom: 40px;
  top: 361px;
  left: 38px;
}

.armchair_text p {
  color: rgba(255, 255, 255, 0.607);

  font-size: 19px;
  line-height: 27px;
  font-weight: 400;
}
.btn {
  font-size: 20px;
  font-weight: 400;
  display: block;
  width: 255px;
  height: 67px;
  border-radius: 5px;
  text-align: center;
  line-height: 67px;
  text-decoration: none;
  color: white;
  background-color: rgba(173, 24, 24, 1);
  margin-bottom: 143px;
  cursor: pointer;
}
.projekt {
  width: 1150px;
  margin: 0 auto;
  box-sizing: border-box;
}
.right__imag {
  display: block;
  width: 1150px;
  height: 450px;
}
.right {
  margin-top: 20px;
  margin-bottom: 90px;
  width: 1150px;
  height: 548px;
  background-color: #fff;
}
.right__title {
  width: 542px;
  height: 42px;
  line-height: 41px;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-right: 774px;
  font-size: 30px;
  letter-spacing: -0.03em;
}

.look-btn {
  width: 127px;
  height: 27px;
  font-size: 19px;
  text-decoration: none;
  color: #ad1818;
}
.allprojekts {
  display: block;
  width: 100%;
  height: 151px;
  margin-bottom: 150px;
  border: 1px solid #ad1818;
  text-align: center;
  line-height: 153px;
  font-size: 28px;
  color: #ad1818;
  border-radius: 5px;
  text-decoration: none;
}
.allprojekts:hover {
  color: white;
  background-color: #ad1818;
}
.section_black {
  background-color: #121212;
  width: 100%;
  height: 1848px;
  margin: 0 auto;
}
.conteiner_black {
  display: block;
  width: 1404px;
  margin: 0 auto;
  background-color: #121212;
}
.conteiner_service {
  color: #fff;
  width: 66px;
  height: 25px;
  padding-top: 135px;
  padding-left: 127px;
  padding-bottom: 51px;
}
.type_service {
  box-sizing: border-box;
  width: 1150px;
  height: 326px;
  margin-left: 125px;
  margin-right: 125px;
  margin-bottom: 60px;
}
.type_service_last {
  box-sizing: border-box;
  width: 1150px;
  height: 326px;
  margin-left: 125px;
  margin-right: 125px;
  margin-bottom: 150px;
}

.service__imag {
  width: 1150px;
  height: 270px;
}
.service__text {
  height: 41px;
  margin-top: 15px;
  font-weight: 400;
  font-size: 29px;
  line-height: 41px;
  letter-spacing: -0, 03em;
  color: rgba(255, 255, 255, 1);
}
.section_bad {
  height: 717px;
  width: 100%;

  background-image: url("../resources/bad.jpg");

  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}
.conteiner_bad {
  width: 1414px;
  height: 717px;
  margin: 0 auto;
  position: relative;
}
.bad_text {
  width: 443px;
  bottom: 30px;
  left: 125px;
  position: absolute;
}
.bad_text p {
  color: #fff;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  letter-spacing: -0.03em;
}
.section_contact {
  width: 1400px;

  margin: 0 auto;
  position: relative;
}
.conteiner_contact {
  width: 473px;
  height: 217px;
  margin-left: 124px;
  margin-top: 186px;
  margin-bottom: 150px;
  position: relative;
}
.conteiner_contact h3 {
  font-style: normal;

  margin-bottom: 32px;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
}
.conteiner_contact:before {
  content: "";
  display: block;
  width: 24px;
  height: 24px;
  bottom: 230px;
  right: 453px;
  background-image: url("../resources/iphone.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  position: absolute;
}
.phone {
  width: 472px;
  height: 60px;
  margin-bottom: 30px;
}
.mail {
  width: 472px;
  height: 60px;
}
.contact_style {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 400;
  font-size: 61px;
  line-height: 52px;
  letter-spacing: -0.03em;
  text-decoration: none;
  color: #121212;
}
.contact_style:hover {
  border-bottom: 2px solid #121212;
  padding-bottom: 3px;
  opacity: 0.5;
}
.section_futer {
  width: 100%;
  height: 229px;
  background-color: #121212;
}
.box_futer_navi {
  box-sizing: border-box;
  width: 500px;

  padding-bottom: 87px;
  padding-top: 60px;
  margin: 0 auto;
}
.futer_navi {
  display: inline-block;
  box-sizing: border-box;

  margin-right: 55px;
  text-decoration: none;
  font-size: 18px;
  color: #ffffff;

  text-align: center;
  line-height: 24px;
  font-weight: 400;
  letter-spacing: -3%;
  text-transform: uppercase;
}

.futer_navi:nth-last-child(1) {
  margin-right: 0;
}
.futer_navi:hover {
  opacity: 0.5;
}
.futer_text {
  width: 389px;
  height: 27px;
  margin: 0 auto;

  font-family: "Manrope";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  letter-spacing: -0.03em;

  color: #ffffff;

  opacity: 0.5;
}
